---
layout: default
---

<div class="home">
    {% assign pages = site.pages | sort:"weight"  %}
    {% for p in pages %}
        {% if p.title %}
            <section id="{{p.title | downcase }}">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>{{p.title}}</h2>
                        </div>
                        {% include lp_{{p.title | downcase }}.html %}
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}
</div>
