---
layout: default
home: true
external: true
hero: false
---

<div class="home">
    {% assign pages = site.data.pages %}
    {% for p in pages %}
            <section id="{{p.name | downcase }}" data-menu-offset="-50">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="sr-only">{{p.name}}</h2>
                        </div>

                        {% include lp_{{p.name | downcase }}.html %}

                    </div>
                </div>
            </section>
    {% endfor %}
</div>
