<header class="navbar navbar-inverse navbar-fixed-top fixed">
    <div class="container-fluid">


<div class="navbar-header">
    <a type="button" class="navbar-toggle collapsed"  href="#my-menu">
        <i class="ion-android-apps"></i>
    </a>

    <a class="navbar-brand"
       href="/mg"><i class="ion-pound"></i>MG</a>
</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li>
            <a href="https://mgonline.atlassian.net/secure/RapidBoard.jspa?rapidView=145">Gold</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">code <i class="ion-arrow-down-b"></i></a>
            <ul class="dropdown-menu">
                <li><a href="#">Pull Requests - MGO</a></li>
                <li><a href="#">Pull Requests - Pattern Library</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Bamboo Builds - Pattern Library</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">dev <i class="ion-arrow-down-b"></i></a>
            <ul class="dropdown-menu">
                <li class="dropdown-header">Production</li>
                <li><a href="#">MGO</a></li>
                <li><a href="#">Pattern Library (AWS)</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Local</li>
                <li><a href="#">MGO</a></li>
                <li><a href="#">Staging</a></li>
                <li><a href="#">Pattern Library</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">D2 - MGO</a></li>
                <li><a href="#">D2 - Staging</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">D3 - MGO</a></li>
                <li><a href="#">D3 - Staging</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Q2 - MGO</a></li>
                <li><a href="#">Q2 - Staging</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Q3 - MGO</a></li>
                <li><a href="#">Q3 - Staging</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <i class="ion-arrow-down-b"></i></a>
            <ul class="dropdown-menu">
                <li><a href="#">Confluence</a></li>
                <li><a href="#">PPM Time Entry</a></li>
                <li><a href="#">Robert Half Time Entry</a></li>
                <li><a href="#">Identity IQ</a></li>
            </ul>
        </li>
        <li>
            <a href="#data" class="data-modal-btn"
               data-toggle="modal"
               data-target="#dataModal">
                <i class="ion-ios-box"></i>&nbsp;&nbsp;data
            </a>
        </li>
    </ul>
    <!--<form class="navbar-form navbar-left">-->
        <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" placeholder="Search">-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-default">Submit</button>-->
    <!--</form>-->
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sprints <i class="ion-arrow-down-b"></i></a>

            <ul class="dropdown-menu">
                {% assign sprints = site.mg %}
                {% for sprint in sprints %}
                    <li><a class="post-link" href="{{ sprint.url | prepend: site.baseurl }}">Sprint {{ sprint.sprint }}</a></li>
                {% endfor %}
            </ul>


        </li>
    </ul>
</div><!-- /.navbar-collapse -->

    </div>
</header>
