<!-- Modal -->
<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header row">

                <div class="col-xs-11">
                    <h2>Users & Data</h2>
                </div>
                <div class="col-xs-1 button-container">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">
                    <i class="ion-ios-close"></i></span></button>
                </div>
                <div class="col-xs-12 hr-mimic"></div>

            </div>

            <div class="modal-body row">
                <div class="col-xs-12" style="background:#fff;padding:15px;border:1px solid #333;">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Users</a></li>
                        <li role="presentation"><a href="#userinfo" aria-controls="userinfo" role="tab" data-toggle="tab">Walter White</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="users">
                            <br>
                            <div class="col-xs-6">
                                <label for="d2phone">D2 Phone Number + PIN</label>
                                <div class="input-group">
                                    <input type="text" id="d2phone" class="form-control" value="2147742142">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default clip" type="button" data-clipboard-target="#d2phone">Copy!</button>
                                    </span>
                                </div>
                                <div class="input-group" style="margin-top:5px;">
                                    <input type="text" id="d2pin" class="form-control" value="7035">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default clip" type="button" data-clipboard-target="#d2pin">Copy!</button>
                                    </span>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <label for="d2phone">D3 Phone Number + PIN</label>
                                <div class="input-group">
                                    <input type="text" id="d3phone" class="form-control" value="6789194343">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default clip" type="button" data-clipboard-target="#d3phone">Copy!</button>
                                    </span>
                                </div>
                                <div class="input-group" style="margin-top:5px;">
                                    <input type="text" id="d3pin" class="form-control" value="8916">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default clip" type="button" data-clipboard-target="#d3pin">Copy!</button>
                                    </span>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <br>
                                <label for="d2registereduser">D2 Registered User Email + Password</label>
                                <div class="input-group">
                                    <input type="text" id="d2registereduser" class="form-control" value="shild2gure@maildrop.cc">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default clip" type="button" data-clipboard-target="#d2registereduser">Copy!</button>
                                    </span>
                                </div>
                                <div class="input-group" style="margin-top:5px;">
                                    <input type="text" id="d2registereduserpw" class="form-control" value="testtest1">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default clip" type="button" data-clipboard-target="#d2registereduserpw">Copy!</button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <br>
                                <label for="d2registereduser2">D2 Registered User Email + Password</label>
                                <div class="input-group">
                                    <input type="text" id="d2registereduser2" class="form-control" value="shilwal1d2@maildrop.cc">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default clip" type="button" data-clipboard-target="#d2registereduser2">Copy!</button>
                                    </span>
                                </div>
                                <div class="input-group" style="margin-top:5px;">
                                    <input type="text" id="d2registereduserpw2" class="form-control" value="testtest1">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default clip" type="button" data-clipboard-target="#d2registereduserpw2">Copy!</button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <br>
                                <br>
                                <br>
                            </div>



                        </div>

                        <div role="tabpanel" class="tab-pane" id="userinfo">
                            <br>
                            <h4>user-info</h4>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
</div>