<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 copyright text-muted text-center small">
        Copyright &copy; {{ site.time | date: '%Y' }} Rich Sollenne, {{ site.title }}.com. All Rights reserved.
      </div>
    </div>
  </div>






</footer>



<!-- 
==========================================================================
JS
========================================================================== -->
  <!-- CORE -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- PLUGINS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
    <script src="/js/skrollr-menu.min.js"></script>
    <script src="/js/slabtext.js"></script>
  <!-- CUSTOM -->
    <script src="/js/custom.js"></script>
