//Vars
$PrimaryColor: #00C775 !default;
$White: #fff !default;
$Black: #222 !default;

@mixin transition($feature: all, $time: 0.3s) {
  -webkit-transition: $feature $time;
  -moz-transition: $feature $time;
  -ms-transition: $feature $time;
  -o-transition: $feature $time;
  transition: $feature $time;
}

body, html, {
  height: 100%;
}
#skrollr-body {
  min-height: 100%;
  &:after {
    content: "";
    display: block;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight:700;
  text-transform: uppercase;
}

::selection {
  background: $Black; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $Black; /* Gecko Browsers */
}


body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: url("/img/138H.jpg") center center no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;

  &.home {
    padding-top:50px;
  }
  
  &.not-home {
    background: $White;

    header.navbar {

      a.skrollable-between,
      a.skrollable-after  {
        color: $Black !important;

        &:hover {
          color: $PrimaryColor !important;
        }
      }
    }
  }

  // HEADER
  header.navbar {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0);
    a {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.9em;

      &.skrollable-between {
        &:hover {
          color: rgba(255, 255, 255, 1) !important;
        }
        &.active,
        &.almost-active {
          color: rgba(255, 255, 255, 0.7) !important;
          &:hover {
            color: rgba(255, 255, 255, 1) !important;
          }
        }
      }

      &.skrollable-after {
        &:hover,
        &.active,
        &.almost-active {
          color: rgba(0, 199, 117, 1) !important;
        }
      }
    }
  } // END HEADER

  // HERO AREA - HOME PAGE
  .hero {
    width: 100%;
    min-height: 100%;
    color: $White;
    position: relative;
    background: rgba(0,0,0,0.3);
    margin-top:-50px;

    .container {
      height: 100%;
      h1 {
        position: relative;
        top: 40%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .logo {
        background: url("/img/sollenne.png") center center no-repeat;
        -webkit-background-size:contain;
        background-size:contain;
        height:100%;
        width:100%;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }// END HERO AREA - HOME PAGE


  section {
    min-height:500px;
    padding:33px 0;

    &#about {
      background: $PrimaryColor;
      color: $White;
    }

    &#blog {
      background: $Black;
      color: $White;
    }

    &#services {
      background: $White;
      color: $Black;
    }

    &#portfolio {
      background: $Black;
      color: $White;
    }

    &#contact {
      background: $White;
      color: $Black;
    }
  }

  footer {
    padding:50px 0 20px;
    background: $White;
    color: $Black;
  }

  ul.social {
    display: block;
    width: 100%;

    li {
      a {
        font-size:3em;
        color: rgba(255,255,255,0.7);
      }
    }
  }

  .post-wrapper {
    article {
      margin-bottom:50px;
      .post-header {
        padding: 21px 0;
        h1 {
          text-align: center;
          //background: $Black;
          //color: $White;
          margin:0 !important;
          padding:0 !important;
          padding: 10px 15px;
          margin-bottom: 0;
        }
      }
    }
  }

  .blog-post {

  }


}


.slabtexted .slabtext {
  display:-moz-inline-box;
  display:inline-block;
  white-space:nowrap
}
.slabtextinactive .slabtext {
  display:inline;
  white-space:normal;
  font-size:1em !important;
  letter-spacing:inherit !important;
  word-spacing:inherit !important;
  *letter-spacing:0 !important;
  *word-spacing:0 !important;
}
.slabtextdone .slabtext {
  display:block;
  font-family:'League Gothic', "Impact", Charcoal, Arial Black, Gadget, Sans serif;
  text-transform: uppercase;
  line-height:1;
  color:#222;
  font-size:300%;
  font-weight:normal;
}
.amp  {
  font-family:Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif;
  font-style:italic;
  font-weight:lighter;
}