//Vars
$PrimaryColor: #00C775 !default;
$White: #fff !default;
$Black: rgba(39,28,49,1) !default;
$color-gold: #b0976d !default;
$color-border: #777777 !default;

@mixin transition($feature: all, $time: 0.3s) {
  -webkit-transition: $feature $time;
  -moz-transition: $feature $time;
  -ms-transition: $feature $time;
  -o-transition: $feature $time;
  transition: $feature $time;
}

@import url(https://fonts.googleapis.com/css?family=Ultra);

body, html {
  height: 100%;
}



#skrollr-body {
  min-height: 100%;
  &:after {
    content: "";
    display: block;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight:700;
  text-transform: uppercase;
}

::selection {
  background: $Black; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $Black; /* Gecko Browsers */
}


body {
  font-weight:300;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  background: url("/img/138H.jpg") center center no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;

  .row {
    margin-left:0;
    margin-right:0;
  }

  &.home {
    padding-top:50px;
  }
  
  &.not-home {
    background: $White;

    header.navbar {

      a.skrollable-between,
      a.skrollable-after {
        color: $Black !important;

        &:hover {
          color: $PrimaryColor !important;
        }
      }
      span {
        color: $Black !important;
      }
    }
  }

  // HEADER
  header.navbar {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0);

    span {
      line-height:20px;
      position: relative;
      display: block;
      padding: 15px 15px;
    }

    a {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.9em;
      outline: 0;

      &.skrollable-between {
        &:hover {
          color: rgba(255, 255, 255, 1) !important;
        }
        &.active,
        &.almost-active {
          color: rgba(255, 255, 255, 0.7) !important;
          &:hover {
            color: rgba(255, 255, 255, 1) !important;
          }
        }
      }

      &.skrollable-after {
        &:hover,
        &.active,
        &.almost-active {
          color: rgba(0, 199, 117, 1) !important;
        }
      }
    }
  } // END HEADER

  // HERO AREA - HOME PAGE
  .hero {
    width: 100%;
    min-height: 100%;
    color: $White;
    position: relative;
    background: rgba(0,0,0,0.3);
    margin-top:-50px;

    .container {
      height: 100%;
      h1 {
        position: relative;
        top: 40%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .logo {
        background: url("/img/sollenne.png") center center no-repeat;
        -webkit-background-size:contain;
        background-size:contain;
        height:100%;
        width:100%;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }// END HERO AREA - HOME PAGE


  section {
    min-height:500px;
    padding:33px 0;
    position: relative;
    z-index:0;

    &#about {
      background: $PrimaryColor;
      color: $White;
    }

    &#blog {
      background: $color-gold;
      color: $White;
      .container {
        width:100%;
      }
    }

    &#services {
      background: $White;
      color: $Black;
    }

    &#portfolio {
      background: $Black;
      color: $White;
    }

    &#contact {
      background: $White;
      color: $Black;
    }

    h1 {
      //text-shadow: 0 2px 3px rgba(108, 77, 14, 0.8);
      font-size: 6.125em;
      text-transform: uppercase !important;
      font-family:'haze_light_demoregular', "Impact", Charcoal, Arial Black, Gadget, Sans serif;
      font-weight: normal;
      -letter-kern: 0 -3px 0px;
    }
  }

  footer {
    padding:50px 0 20px;
    background: $White;
    color: $Black;
  }

  ul.social {
    display: block;
    width: 100%;

    li {
      a {
        font-size:3em;
        color: rgba(255,255,255,0.7);
      }
    }
  }

  .post-wrapper {
    article {
      margin-bottom:50px;
      .post-header {
        padding: 21px 0;
        h1 {
          text-align: center;
          //background: $Black;
          //color: $White;
          margin:0 !important;
          padding:0 !important;
          padding: 10px 15px;
          margin-bottom: 0;
        }
      }
    }
  }
}


.slabtexted .slabtext {
  display:-moz-inline-box;
  display:inline-block;
  white-space:nowrap
}
.slabtextinactive .slabtext {
  display:inline;
  white-space:normal;
  font-size:1em !important;
  letter-spacing:inherit !important;
  word-spacing:inherit !important;
  *letter-spacing:0 !important;
  *word-spacing:0 !important;
}
.slabtextdone .slabtext {
  display:block;
  font-family:'geared_slabbold', "Impact", Charcoal, Arial Black, Gadget, Sans serif;
  text-transform: uppercase;
  line-height:1;
  color:#222;
  font-size:300%;
  font-weight:normal;
}
.amp  {
  font-family:Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif;
  font-style:italic;
  font-weight:lighter;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

// Floating card size
$fc-width: 270px;
$fc-height: 410px;

// Border size and dasharray calculation
$border-width: $fc-width - 32px;
$border-height: $fc-height - 32px;
$border-dasharray: ($border-width * 2) + ($border-height * 2);

html {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

.fc {
  position: relative;
  width: $fc-width;
  height: $fc-height;
  perspective: 1000px;
  display: inline-block;

  &__wrapper {
    position: relative;
    transform-style: preserve-3d;
    will-change: transform;

    &::after {
      display: block;
      position: absolute;
      z-index: -1;
      top: 100%;
      left: 0;
      right: 0;
      height: 23px;
      content: '';
      background: url('/img/shadow.png') no-repeat;
    }
  }

  &__thumb {
    display: block;
    width: 100%;
  }

  &__content {
    position: absolute;
    left: 42px;
    right: 42px;
    bottom: 48px;
    transform: translateZ(100px) scale(0.9);

    h1 {
      color: white;
      font-size: 2.4rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }

    .caption {
      color: $color-gold;
      font-size: 1.2rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }
  }

  &__light {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, black, transparent 40%);
    backface-visibility: hidden;
  }

  &__border {
    position: absolute;
    top: 16px;
    left: 16px;
    width: $border-width;
    height: $border-height;
    transform: translateZ(100px) scale(0.9);

    rect {
      fill: transparent;
      stroke: $color-border;
      stroke-width: 2px;
      stroke-dasharray: 0 $border-dasharray;
      stroke-dashoffset: #{$border-dasharray / -2};
      transition: stroke-dasharray 0.25s ease-out, stroke-dashoffset 0.25s ease-out;
    }
  }

  &:hover {
    .fc__border {
      rect {
        stroke-dasharray: $border-dasharray;
        stroke-dashoffset: 0;
      }
    }
  }
}

// Modal backdrop
.modal-backdrop {
  background-color:transparent;
  background: $White linear-gradient(to bottom, #049027, #00f23c) no-repeat;
  height: 100%;

  // Thanks At&&Code: http://codepen.io/artandcode/pen/HoxFp
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(39,28,49,.7) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top, rgba(130,37,47,.4) 0%, rgba(242,153,75,.7) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(39,28,49,.7) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top, rgba(39,28,49,1) 0%,rgba(209,163,167,.9) 100%), -webkit-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(39,28,49,.7) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top, rgba(39,28,49,1) 0%,rgba(209,163,167,.9) 100%), -o-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(39,28,49,.7) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top, rgba(39,28,49,1) 0%,rgba(209,163,167,.9) 100%), -ms-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(39,28,49,.7) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom, rgba(39,28,49,1) 0%,rgba(209,163,167,.9) 100%), linear-gradient(135deg, #670d10 0%,#092756 100%);
}

.modal-open {
  padding-right: 0 !important;
}
html {
  overflow-y: scroll !important;
}

input {
  outline: 0 !important;
}

.hr-mimic {
  width:100%;
  height:1px;
  background: rgb(222,173,175);
  background: -moz-linear-gradient(left,  rgba(222,173,175,1) 0%, rgba(39,31,55,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(222,173,175,1) 0%,rgba(39,31,55,1) 100%);
  background: linear-gradient(to right,  rgba(222,173,175,1) 0%,rgba(39,31,55,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deadaf', endColorstr='#271f37',GradientType=1 );
}

// SEARCH MODAL

#searchModal {
  .modal-content {

    .modal-header {

      #search-container {
        padding:0;
        padding-top:20px;

        input {
          border-width:0;
          font-size:24px;
          font-weight:300;
          text-transform: uppercase;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
      }
      .button-container {
        padding-right:0;
      }
      .clear-search {
        padding-right:0;
        padding-left:0;

        a {
          padding-right:0;
          text-transform: uppercase;
          background: rgb(222,173,175);
          background: -moz-linear-gradient(top,  rgba(222,173,175,1) 0%, rgba(39,31,55,1) 100%);
          background: -webkit-linear-gradient(top,  rgba(222,173,175,1) 0%,rgba(39,31,55,1) 100%);
          background: linear-gradient(to bottom,  rgba(222,173,175,1) 0%,rgba(39,31,55,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deadaf', endColorstr='#271f37',GradientType=0 );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          cursor: pointer;
          display: inline-block;
          padding-top:6px;
          font-weight:400;

          &.disabled {
            opacity:0.5;
            cursor: not-allowed;
          }

          &:hover {
            text-decoration: none;
          }

        }
      }
    }

    .modal-body {
      padding:15px 0 0 0;
      .results-row {
        padding-left:0;
        margin-left: -6px;
        margin-right: -6px;

        li {
          padding-left:6px;
          padding-right:6px;
        }

        .search-result {
          padding: $modal-title-padding;
          @include clearfix;
          @include box-shadow(0 3px 6px rgba(0,0,0,.3));
          background-color: $modal-content-bg;
          border: 1px solid rgba(39,28,49,0.8);
          margin-bottom:12px;
          -webkit-transition: 0.2s ease-in-out;
          -moz-transition: 0.2s ease-in-out;
          -ms-transition: 0.2s ease-in-out;
          -o-transition: 0.2s ease-in-out;
          transition: 0.2s ease-in-out;

          &:hover {
            -webkit-transform: scale(1.05);
            -moz-transform:    scale(1.05);
            -ms-transform:     scale(1.05);
            -o-transform:      scale(1.05);
            transform:         scale(1.05);
          }

          a {
            display: block;
          }
        }
      }
      .no-results {
        color: $White;
        font-weight:100;
      }
    }

  }
}