<!DOCTYPE html>
<html>
  {% include core/head.html %}
  <body id="top">
  <div class="site-wrapper">
      {% include core/off_canvas.html %}
      {% include core/header.html %}
      <div class="header-spacer" style="width:100%; height:50px;"></div>

      <div id="skrollr-body">

          {% if page.hero %}
            {% include hero.html %}
          {% endif %}

          <div class="page-content">
            <div class="wrapper">
              {{ content }}
            </div>
          </div>
        </div>
      </div>

      {% if page.external %}
          {% include core/footer.html %}
          {% include modals/search_modal.html %}
      {% endif %}

      {% include core/modals.html %}

      {% include core/js.html %}

  </body>
</html>
