<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="top">
  <div class="site-wrapper">
      {% include off_canvas.html %}
      {% include header.html %}

      <div id="skrollr-body">

          {% if page.hero %}
            {% include hero.html %}
          {% endif %}

          <div class="page-content">
            <div class="wrapper">
              {{ content }}
            </div>
          </div>
        </div>
      </div>

      {% if page.external %}
          {% include footer.html %}
          {% include modal.html %}
      {% endif %}
      {% include js.html %}

  </body>
</html>
